<h1>Here is what we have:</h1>

<% @artists.each do |artist| %>
<div class="order">
 <h1><a href="/artists/<%=artist.id%>"><%= artist.name()%></a></h1>
 <div class = "thumbnail_sizer"><img class = "thumbnail" src="<%=artist.img%>"></div>
 <hr>
 <% albums = artist.albums() %>
 <% albums.each do |album|%>

 <div class = "thumbnail_sizer_mini"><a href="/albums/<%=album.id%>"><img class = "thumbnail" src="<%=album.img%>"></a></div>
 <%end%>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<%end%>
