<h2>Albums</h2>

<% @albums.each do |album| %>
 <div class="order">
 <p><a href="/albums/<%=album.id%>"><%= album.name()%> by <%= album.artist.name()%></a></p>
 <div class = "thumbnail_sizer"><img class = "thumbnail" src="<%=album.img%>"></div>
 <a href="/albums/<%= album.id%>"></a>
 <hr>
 </div>
<%end%>
